# === Python and Django Core ===
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
.env
db.sqlite3

# === Channels, Daphne, and Async ===
*.log
.asgi_cache/

# === Node / NPM (Frontend) ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
dist/
build/

# === IDEs and System Garbage ===
.vscode/
.idea/
.DS_Store
Thumbs.db

venv/